apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
data:
  PINECONE_API_KEY: xxx
  OPENAI_API_KEY: xxx
  GOOGLE_API_KEY: xxx
  CUSTOM_SEARCH_ENGINE_ID: xxx
  HUGGINGFACE_API_TOKEN: xxx
  RAPID_API_KEY: xxxx
  U_COOKIE: |
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxx
